<tr>
	<td style="border-bottom: 1px solid #ccc; padding: 4px 0px 4px 0px;">%s</td>
	<td style="border-bottom: 1px solid #ccc; padding: 4px 0px 4px 0px;">%s</td>
	<td style="border-bottom: 1px solid #ccc; padding: 4px 0px 4px 0px;">%s</td>
	<td style="border-bottom: 1px solid #ccc; padding: 4px 0px 4px 0px; text-align: right;">%s</td>
	<td style="border-bottom: 1px solid #ccc; padding: 4px 0px 4px 0px; text-align: right;">%s</td>
</tr>